<div id="indexView">
    <div id="notepad"></div>
    <div class="blank-canvas" ng-class="{'blank-canvas--colapsed' : blankCanvasColapsed}">
        <div ng-if="!error">
            <div class="control">
                Sort by distance
                <label class="switch">
                <input type="checkbox" ng-model="sortByPrice" ng-click="sort(sortByPrice)">
                <div class="slider round"></div>
            </label> Sort by price
            </div>
            <div class="coffee-shop-list">
                <coffee-shop-item ng-repeat="coffeeShop in coffeeShopsList" coffee-shop-data="coffeeShop"></coffee-shop-item>
            </div>
        </div>
        <error ng-if="error" msg="error"></error>
    </div>
    <div ng-if="loading" class="loader"></div>
</div>