body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    overflow: scroll;
}

#appContainer {
    width: 1000px;
    min-height: 700px;
    margin: 0 auto;
}

#error_message {
    background-color: $errorMessage-color;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    color: $errorMessageText-color;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#footer {
    margin-top: 50px;
}