body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    overflow: scroll;
}

#appContainer {
    width: 1000px;
    min-height: 700px;
    margin: 0 auto;
}

.error_message {
    background-color: $errorMessage-color;
    padding: 5px;
    max-width: 1000px;
    width: auto;
    height: auto;
    margin: 10px;
    color: $errorMessageText-color;
    overflow: scroll;
}

#footer {
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    #appContainer {
        width: 500px;
    }
}